@use '../../assets/scss/media';

nav {
    padding-inline: 4rem;
    padding-block: 2rem;

    @include media.xs {
        padding-inline: 0;
        padding-block: 1.6rem;

        .logo {
            width: 8rem;
        }
    }

    &:not(.has-bg) {
        position: fixed;
        top: 0;
        inset-inline: 0;
        width: 100%;
        z-index: 10;
    }

    &.has-bg {
        color: var(--p-surface-0);
        background-color: var(--p-primary-800);
    }

    .nav-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.6rem;
    }
}

menu {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    font-size: .95em;
    font-weight: 600;

    &.settings-menu {
        gap: .5rem;

        .picon {
            font-size: 1.2em;
        }
    }

    li {
        a {
            color: inherit;
            text-decoration: none;

            &.active {
                text-decoration: underline;
                text-decoration-color: var(--p-primary-400);
                text-underline-offset: .2rem;
                pointer-events: none;
            }

            &:hover,
            &:focus-visible {
                text-decoration: underline;
                text-decoration-color: var(--p-surface-0);
                text-decoration-thickness: .2rem;
            }
        }
    }
}

.side-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}
