@font-face {
    font-family: "Red Hat Display";
    src: url('/fonts/Red Hat Display/RedHatDisplay.woff2') format('woff2 supports variations'),
        url('/fonts/Red Hat Display/RedHatDisplay.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 400 800;
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Display";
    src: url('/fonts/Red Hat Display/RedHatDisplay-Italic.woff2') format('woff2 supports variations'),
        url('/fonts/Red Hat Display/RedHatDisplay-Italic.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 400 800;
    font-style: italic;
}
