<table>
    <thead>
        <tr>
            <th scope="col">
                Stage
            </th>
            <th scope="col">
                Quality 1
            </th>
            <th scope="col">
                Quality 2
            </th>
            <th scope="col">
                Quality 3
            </th>
            <th scope="col">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                4
            </th>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <th scope="row">
                5
            </th>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                2
            </td>
        </tr>
            <tr>
            <th scope="row">
                6
            </th>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <th scope="row">
                7
            </th>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <th scope="row">
                8
            </th>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <th scope="row">
                9
            </th>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                0
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <th scope="row">
                Total
            </th>
            <th scope="col">
                5
            </th>
            <th scope="col">
                5
            </th>
            <th scope="col">
                0
            </th>
            <th scope="col">
                20
            </th>
        </tr>
    </tbody>
</table>
