<footer class="c-pre-footer">
    <div class="container">
        <nav class="c-nav" aria-label="Collections">
            <ol class="reset">
                <li>
                    <p-button type="link" variant="outlined">
                        <span class="picon picon-arrow-left-solid" pButtonIcon></span>
                        <span pButtonLabel>Previous collection</span>
                    </p-button>
                </li>
                <li>
                    <p-button type="link" variant="outlined">
                        <span pButtonLabel>Next collection</span>
                        <span class="picon picon-arrow-right-solid" pButtonIcon></span>
                    </p-button>
                </li>
            </ol>

            <menu class="reset">
                <li>
                    <p-button type="link">
                        <span class="picon picon-envelope" pButtonIcon></span>
                        <span pButtonLabel>Collection certificate email</span>
                    </p-button>
                </li>
                <li>
                    <p-button type="link">
                        <span class="picon picon-file-pdf-solid" pButtonIcon></span>
                        <span pButtonLabel>Collection certificate PDF</span>
                    </p-button>
                </li>
            </menu>
        </nav>
    </div>
</footer>
