main {
    background-image: url('https://picsum.photos/id/85/1800/1200');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-items: center;
}
