.app-wrapper {
    height: 100dvh;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    .app-main ::ng-deep router-outlet + * {
        display: block;
        height: 100%;

        main {
            min-height: 100dvh;
            min-height: 100vh;
            height: 100%;
            padding: 2rem;

            &:not(.bg-image) {
                background-image: linear-gradient(
                    145deg,
                    var(--p-primary-100) 0%,
                    var(--p-primary-100) 15%,
                    var(--p-primary-50) 25%,
                    var(--p-primary-50) 50%,
                    var(--p-primary-50) 75%,
                    var(--p-primary-100) 85%,
                    var(--p-primary-100) 100%
                );
            }
        }
    }
}
