.c-banner {
    padding-block: 1.25rem;
    color: var(--p-surface-0);
    background-color: var(--p-primary-900);

    .c-datalist {
        display: flex;

        > :not(:first-child) {
            margin-left: 1rem;
            padding-left: 1rem;
            border-left: .1rem solid var(--p-surface-600);
        }

        dt {
            font-size: .85em;
            color: var(--p-surface-400);
        }

        dd {
            font-size: .95em;
            font-weight: 500;
        }
    }
}
