<div class="c-banner">
    <div class="container">
        <dl class="c-datalist">
            <div>
                <dt>
                    Collection number
                </dt>
                <dd>
                    {{ data.id }}
                </dd>
            </div>
            <div>
                <dt>
                    Collection nature
                </dt>
                <dd>
                    {{ data.type }}
                </dd>
            </div>
            <div>
                <dt>
                    Collection date
                </dt>
                <dd>
                    {{ data.date }}
                </dd>
            </div>
            <div>
                <dt>
                    Location
                </dt>
                <dd>
                    {{ data.location }}
                </dd>
            </div>
            <div>
                <dt>
                    Donor
                </dt>
                <dd>
                    {{ data.donor }}
                </dd>
            </div>
            <div>
                <dt>
                    Owner
                </dt>
                <dd>
                    {{ data.owner }}
                </dd>
            </div>
            <div>
                <dt>
                    Bull
                </dt>
                <dd>
                    {{ data.bull }}
                </dd>
            </div>
        </dl>
    </div>
</div>
